<div class="row">
<div class="centered">

		<h2>Ambitious Zealous Movers of Africa</h2>
		<h4>Organisational profile.</h4>
		<strong>Year of Establishment:</strong> 2011
		<br/><br/>
		<strong> Place of Establishment: </strong> Precious Blood Girls High School.
		<br/><br/>
		<strong> Type of Organization:</strong> Community Based Organisation
		<br/><br/>
		<strong> Target group:</strong> youth
		<br/><br/>
		<strong> Target area:</strong> Africa
		<br/><br/>
		<strong> Background Information </strong>
		AZMA was founded in the year 2011 and launched on 25th November by students of Precious Blood Girls High School with an intention of increased idea sharing and student networking through social media and community based events. We started out with a website that was able to engage students from different schools in different discussions on issues affecting our societies and solutions to problems. We organise events to bring together youths and at the same time enable us to give back to the society.

	</div>
</div>